@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: 'Arial', sans-serif;
}

.bg-dark {
  background-color: #000 !important;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* so it stays on top of other elements */
}

.logo {
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  /* subtle zoom effect on hover */
}

.demo-btn,
.login-btn {
  transition: all 0.3s ease;
  margin: 0 10px;
  /* give some space between buttons */
}

.demo-btn:hover {
  background-color: #fff;
  color: #000;
}

.login-btn:hover {
  border-color: #fff;
}

/* This will center the content of your Hero section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.hero-logo img {
  width: 75px;
  margin-right: 10px;
}

.hero-logo h1 {
  font-size: 4em;
  font-family: "Gill Sans", sans-serif;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-left: -5px;
  /* keep the pulling of the text slightly to overlap with the logo */
}

.hero-section p {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #444;
  margin: 1em 0;
  /* It's now consistent with the inline styles in your React component */
}

.custom-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.7em 2em;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #fff;
  /* white background */
  color: #000;
  /* black text */
  border: 1px solid #333;
  /* adding a border for distinction */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  /* a subtle shadow to give an elevated look */
  transform: translateY(-2px);
  /* subtle upward movement on hover */
}